{% extends "food_impression/base.html" %}
{% load static %}

{% block title %}ADD{% endblock title %}
{% block content %}
    <h4 class="mt-4 border-bottom">ADD</h4>

    <table>
        <form action="" method="POST" name="add_company" id="add_form">
            {% csrf_token %}
            {{ company_form.as_table }}
            <tr><td></td><td><button type="submit" class="btn btn-primary" name="company">Add Company</button></td></tr>
        </form>
        <form action="" method="POST" name="add_kind" id="add_form">
            {% csrf_token %}
            {{ kind_form.as_table }}
            <tr><td></td><td><button type="submit" class="btn btn-primary" name="add_kind">Add Kind</button></td></tr>
        </form>
        <form action="{% url 'food_impression:add' %}" method="POST" name="add_food" id="add_form">
            {% csrf_token %}
            {{ food_form.as_table }}
            <tr><td></td><td><button type="submit" class="btn btn-primary" name="add_food">Add Food</button></td></tr>
        </form>
    </table>
{% endblock content %}